@font-face{
    font-family: 'HelveticaNeue';
    src: url('fonts/HelveticaNeue.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
}

body{
    margin: 0 auto;
    background: #86A6B3;
}

.container{
    width: 1215px;
    height: 1265px;
    background: url(../img/bg_i.jpg) no-repeat;
    margin: 0 50px;
}

/*MENU PATH*/
.menu{
    width: 1215px;
    height: 36px;
    background: #074E8C;
    position: relative;
}

.menu-first-items{
    margin-left: 458px;
    float: left;
    list-style: none;
    line-height: 36px;
}

.menu-first-items > li{
    display: inline;
    padding: 12px 0 10px 0;
}

.menu-first-items > li > a{
    text-decoration: none;
    padding: 0 7px 0 10px;
    font: 15px 'HelveticaNeue';
    color: #60b5ed;
}

.first-active{
    height: 36px;
    font: 15px 'HelveticaNeue';
    font-weight: bold;
    color: #fff;
    background: #60b5ed;
    display: inline;
}

.menu-second-items{
    margin-left: 23px;
    padding-left: 41px;
    float: left;
    list-style: none;
    border-left: 1px solid #fff;
    line-height: 36px;
}

.menu-second-items > li{
    display: inline;
    padding: 9px 21px 10px 14px;
}

.menu-second-items > li > a{
   font: 14px 'HelveticaNeue';
    color: #fff;
    text-decoration: none;
}

.second-active{
    color: #fff;
    background: #60b5ed;
}

.menu-logo{
    position: absolute;
    top: 3px;
    right: 329px;
}

/*FORM PATH*/
.form{
    width: 560px;
    height: 613px;
    margin: 215px 0 0 350px;
    background: rgba(13, 12, 12, 0.71);
}

.form-header{
    font: 28px 'HelveticaNeue';
    color: #fff;
    padding: 12px 0 16px 213px;
    border-bottom: 2px solid #fff;
}

.facebook{
    display: inline-block;
    white-space: nowrap;
    background: rgb(63,87,147);
    background: -moz-linear-gradient(top,  rgba(63,87,147,1) 0%, rgba(49,67,115,1) 100%);
    background: -webkit-linear-gradient(top,  rgba(63,87,147,1) 0%,rgba(49,67,115,1) 100%);
    background: linear-gradient(to bottom,  rgba(63,87,147,1) 0%,rgba(49,67,115,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f5793', endColorstr='#314373',GradientType=0 );
    border: 1px solid rgba(9, 12, 21, 0.36);
    padding: 0 54px 0 0;
    margin: 34px 0 0 145px;
    font: 600 14px/35px 'HelveticaNeue', Tahoma;
    text-decoration: none;
    color: #fff;
    text-shadow: 1px 0 0 rgba(8, 2, 80, 0.81);
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: 1px 0 0 rgba(8, 2, 80, 0.81) inset, 1px 0 0 rgba(8, 2, 80, 0.81);
    -webkit-box-shadow: 1px 0 0 rgba(8, 2, 80, 0.81) inset, 1px 0 0 rgba(8, 2, 80, 0.81);
    box-shadow: 1px 0 0 rgba(8, 2, 80, 0.81) inset, 1px 0 0 rgba(8, 2, 80, 0.81);
    }

.facebook:before{
    background: #ccc;
    background: rgba(0,0,0,.1);
    float: left;
    width: 10px;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    margin: 0 33px 0 3px;
    padding: 0 12px;
    -moz-box-shadow: 1px 0 0 rgba(8, 2, 80, 0.81), 1px 0 0 rgba(8, 2, 80, 0.81);
    -webkit-box-shadow: 1px 0 0 rgba(8, 2, 80, 0.81), 1px 0 0 rgba(8, 2, 80, 0.81);
    box-shadow: 1px 0 0 rgba(8, 2, 80, 0.81), 1px 0 0 rgba(8, 2, 80, 0.81);
    -moz-border-radius: .15em 0 0 .15em;
    -webkit-border-radius: .15em 0 0 .15em;
    border-radius: .15em 0 0 .15em;
}

.add:before{content: '\66';}

.form-line{margin: 16px 273px;}

.form-border-right{
    padding-top: 12px;
    position: relative;
    font-size: 15px;
    color: #7b7676;
}

.form-border-right:before{
    content: "";
    display: block;
    width: 122px;
    height: 1px;
    position: absolute;
    top: 19px;
    right: 19px; 
    background: #7b7676;
}

.form-border-left{
    padding-top: 12px;
    position: relative;
}

.form-border-left:before{
    content: "";
    display: block;
    width: 122px;
    height: 1px;
    position: absolute;
    top: -11px;
    left: 26px; 
    background: #7b7676;
}
 
.form-user{margin: 17px 144px;}

.form-input-first{
    width: 243px;
    height: 35px;
    padding: 0 16px;
    margin-bottom: 17px;
    line-height: 35px;
    font-size: 15px;
    border: 1px solid #dde2e4;
    border-radius: 3px;
    background: #1B5288;
}

.form-input{
    width: 243px;
    height: 35px;
    padding: 0 16px;
    margin-bottom: 16px;
    font-size: 15px;
    line-height: 35px;
    border: 1px solid #dde2e4;
    border: 0;
    border-radius: 3px;
    background: black;
}

.form-checkbox{
    margin: -13px 146px;
    font: 15px 'HelveticaNeue';
    color: #fff;
}

.form-footer{
    width: 300px;
    margin: 34px 125px;
}

.block-form-btn{margin: 19px 72px;}

.form-btn{
    width: 154px;
    height: 38px;
    margin: 0 9px;
    font-size: 15px;
    color: #fff;
    background: #3394DB;
    border: 0;
    border-radius: 3px;
}

.form-footer-txt{
    font: 11px 'HelveticaNeue';
    color: #fff;
    text-align: center;
}