*{
    margin: 0;
    padding: 0;
}

body{
    margin: 0 auto;
    background: #86A6B3;
}

.container{
    width: 1215px;
    height: 1265px;
    background: url(../img/bg_i.jpg) no-repeat;
    margin: 0 50px;
}

.menu{
    list-style: none;
}

.menu li{
    margin: 0 auto;
    width: 1215px;
    height: 36px;
    font: 14px Helvetica Neue;
    color: #60b5ed;
    display: inline;
    margin-right: 15px;
}

.menu-active{
    font: 14px Helvetica Neue;
    color: #fff;
}

.form{
    width: 560px;
    height: 613px;
}

.form-create{
    width: 149px;
    height: 35px;
    font: 14px Helvetica Neue;
}

.form-btn-fb{
    
}

.form-footer{
    font: 11px Helvetica Neue;
}